/* Footer */

.footer-container {
  max-width: 100vw;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Arial, sans-serif;
}

.footer-social-container {
  margin-top: 40px;
  width: 85%;
}

.footer-social-heading {
  display: flex;
  align-items: baseline;
  flex-direction: column;
}

.footer-social-heading h1 {
  font-size: 2.2rem;
  font-weight: 500;
  letter-spacing: 2px;
  color: white;
  margin: 20px 0px;
}

.footer-social-heading h2 {
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 2px;
  color: white;
}

.footer-social-media-container {
  margin: 60px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 30px;
}

.footer-social-media-container a {
  text-decoration: none;
}

.social-media-content {
  display: flex;
  align-items: center;
}

.social-media-img {
  width: 42px;
  height: 42px;
  margin-right: 15px;
  cursor: pointer;
}

.social-media-text img {
  width: 120px;
  cursor: pointer;
}

.social-media-text p {
  font-size: 1.5rem;
  font-weight: 500;
  color: white;
  letter-spacing: 1px;
  padding-left: 7px;
  cursor: pointer;
}

#footer-middle-line {
  min-width: 100%;
  height: 2px;
  background-color: gray;
  margin: 40px 0px;
}

.footer-more-info-container {
  margin: 40px 0;
  width: 80%;

  display: flex;
  align-items: baseline;
  justify-content: space-between;
  flex-wrap: wrap;
  font-family: Arial, sans-serif;
}

.more-info-list-item {
  min-width: 20%;
  color: white;
}

.more-info-list-item a {
  text-decoration: none;
}

.more-info-list-item h2 {
  font-size: 1.6rem;
  letter-spacing: 1px;
}

.more-info-list-item ul {
  margin-top: 40px;
}

.more-info-list-item ul li {
  list-style: none;
  font-size: 1.04rem;
  font-weight: 400;
  margin-top: 25px;
  color: #cdcdcd;
  cursor: pointer;
}

.footer-last-container {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 45px 0px;
  flex-wrap: wrap;
}

.footer-last-content {
  min-width: 45%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-last-container img {
  width: 208px;
}

.footer-last-content p {
  color: #d1d1d1;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.social-icon-container span img {
  margin-right: 30px;
  width: 30px;
  cursor: pointer;
  transition: filter 0.1s ease-in;
}

.social-icon-container span img:hover {
  filter: drop-shadow(0px 0px 10px white);
}

@media screen and (max-width: 570px) {
  .footer-social-heading h1 {
    font-size: 2rem;
    margin: 10px 0px;
  }

  .footer-social-heading h2 {
    font-size: 1.3rem;
  }

  .footer-social-media-container {
    margin: 18px 0px 0px;
  }

  .social-media-content .social-media-text {
    display: none;
  }

  .more-info-list-item:nth-child(1) {
    display: none;
  }

  .more-info-list-item:nth-child(2) {
    display: none;
  }

  .more-info-list-item:nth-child(3) h2 {
    display: none;
  }

  .more-info-list-item:nth-child(3) ul {
    margin-top: 17px;
  }

  #footer-middle-line {
    display: none;
  }

  .footer-more-info-container {
    width: 85%;
    margin: 5px 0px;
  }

  .footer-last-container {
    width: 90%;
    margin: 10px 0px 10px 0px;
  }

  .footer-last-content {
    gap: 25px;
  }

  .footer-last-content img {
    width: 120px;
  }

  .footer-last-content p {
    font-size: 0.6rem;
  }

  .social-icon-container {
    display: none;
  }
}

@media screen and (max-height: 670px) {
  .social-media-img {
    width: 35px;
    height: 35px;
  }
}

@media (min-width: 580px) and (max-width: 938px) and (max-height: 1024px) {
  .footer-social-heading h1 {
    font-size: 2rem;
  }

  .footer-social-heading h2 {
    font-size: 1.5rem;
  }

  .footer-social-media-container {
    margin: 30px 0px;
  }

  .social-media-img {
    width: 30px;
    height: auto;
    margin-right: 5px;
  }

  .social-media-text img {
    display: none;
  }

  .social-media-text p {
    font-size: 1.2rem;
  }

  #footer-middle-line {
    margin: 20px 0px;
    height: 1px;
  }

  .footer-more-info-container {
    width: 85%;
    margin: 5px 0;
  }

  .more-info-list-item:nth-child(1) h2 {
    display: none;
  }

  .more-info-list-item:nth-child(2) h2 {
    display: none;
  }

  .more-info-list-item:nth-child(3) h2 {
    display: none;
  }

  .more-info-list-item ul {
    margin-top: 0px;
  }

  .more-info-list-item ul li {
    font-size: 0.75rem;
    margin-top: 10px;
  }

  .footer-last-container {
    width: 85%;
    margin: 30px 0px 10px 0px;
  }

  .footer-last-container img {
    width: 110px;
  }

  .footer-last-content p {
    font-size: 0.7rem;
  }

  .social-icon-container span img {
    margin-right: 15px;
    width: 25px;
  }
}
