.about-us-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-image: url("/images/about-homepage-final.png");
  background-size: 1650px 920px;
  background-position: center;
  background-repeat: no-repeat;
  animation: animateBack 10s forwards;
}

@keyframes animateBack {
  0% {
    background-size: 1650px 920px;
  }

  50% {
    background-size: 1720px 970px;
  }

  100% {
    background-size: 1650px 920px;
  }
}

.about-us-container-content {
  position: relative;
  z-index: 2;
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: end;
  color: white;
  background-color: rgba(0, 0, 0, 0.612);
  font-family: "Satoshi", sans-serif;
}

.about-us-container-content .left-heading {
  width: 40%;
  height: 75%;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
}

.about-us-container-content .left-heading p {
  font-size: 1.5rem;
  font-weight: 100;
  color: #d1d1d1;
  border-left: 2px solid #d1d1d1;
  padding-left: 10px;
  font-weight: lighter;
}

.about-us-container-content .right-subheading {
  width: 40%;
  height: 75%;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.about-us-container-content .left-heading h1 {
  font-size: 3.5rem;
  letter-spacing: 2.5px;
  line-height: 1.5em;
}

.about-us-container-content .right-subheading h3 {
  width: 95%;
  font-size: 1.2rem;
  line-height: 1.6em;
  letter-spacing: 2px;
  font-weight: 100;
  color: #ffffff;
}

.about-us-container-content .right-subheading a {
  font-family: "Satoshi", sans-serif;
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: 1.2px;
}

.about-us-container-content .right-subheading {
  display: flex;
  align-items: baseline;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
}

@media (max-width: 768px) {
  .about-us-container-content {
    flex-direction: column;
    padding: 20px;
  }

  .about-us-container-content .left-heading {
    width: 100%;
  }

  .about-us-container-content .right-subheading {
    width: 100%;
  }

  .about-us-container-content h1 {
    font-size: 40px;
    width: 100%;
  }

  .about-us-container-content div h3 {
    font-size: 16px;
    width: 80vw;
  }

  .hero-container-content {
    flex-direction: column;
    padding: 20px;
  }

  .hero-container-content .left-heading {
    width: 100%;
  }

  .hero-container-content .right-subheading {
    width: 100%;
  }

  .hero-container-content h1 {
    font-size: 40px;
    width: 100%;
  }

  .hero-container-content div h3 {
    font-size: 16px;
    width: 80vw;
  }
}

@media (max-width: 576px) {
  .about-us-container-content {
    flex-direction: column;
    justify-content: flex-end;
  }

  .about-us-container-content .left-heading {
    width: 100%;
    height: 30%;
  }

  .about-us-container-content .left-heading p {
    font-size: 0.9rem;
    padding-left: 5px;
  }

  .about-us-container-content .left-heading h1 {
    font-size: 2.35rem;
    filter: drop-shadow(0px 0px 10px black);
  }

  .about-us-container-content .right-subheading {
    width: 100%;
    height: 35%;
    justify-content: flex-start;
    gap: 25px;
  }

  .about-us-container-content .right-subheading h3 {
    width: 90%;
    font-size: 1rem;
    filter: drop-shadow(0px 0px 3px black);
  }
}

@media screen and (max-height: 670px) {
  .about-us-container-content .left-heading h1 {
    width: 100%;
    font-size: 2.1rem;
  }

  .about-us-container-content .right-subheading h3 {
    font-size: 0.95rem;
  }
}

@media (min-width: 580px) and (max-width: 938px) and (max-height: 1024px) {
  .about-us-container-content {
    flex-direction: column;
    justify-content: flex-end;
  }

  .about-us-container-content .left-heading {
    height: 40%;
  }

  .about-us-container-content .left-heading h1 {
    font-size: 3.1rem;
  }

  .about-us-container-content .right-subheading {
    height: 35%;
    justify-content: flex-start;
  }

  .about-us-container-content .right-subheading h3 {
    width: 60%;
  }
}
