/* -------------------------- section 3 */

.container {
  width: 100vw;
  height: 90vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  /* background-color: yellow; */
}

.arrow-btn {
  width: min(1000px, 90%);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 30px;
  margin-top: 30px;
}

.arrow-btn img {
  width: 70px;
  height: 70px;
  border: 1px solid white;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.arrow-btn img:active {
  width: 55px;
  height: 65px;
}

.text-section-content {
  width: min(1250px, 90%);
  height: 75%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.text-section-container {
  width: 400px;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.text-section-container div {
  font-size: 4.3rem;
  font-weight: 600;
  color: #757575;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.text-section-container div.active {
  color: white;
  letter-spacing: 4px;
  margin-left: 20px;
}

.content-box .image-container img {
  width: 320px;
  animation: image-text-animation 1.2s forwards;
}

@keyframes image-text-animation {
  0% {
    opacity: 20%;
  }

  100% {
    opacity: 100%;
  }
}

.img-content-container {
  width: 850px;
  height: 80%;
  display: flex;
  align-items: center;
}

.content .content-box {
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content-para {
  width: 55%;
}

.content-para p {
  font-size: 1.35rem;
  font-weight: 300;
  color: white;
  line-height: 1.4;
  letter-spacing: 1px;
  animation: image-text-animation 1.3s forwards;
}

@media screen and (max-width: 576px) {
  .container {
    height: auto;
    min-height: 600px;
    margin-top: 60px;
    padding: 30px 0;
    justify-content: flex-start;
  }

  .arrow-btn {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 90%;
  }

  .arrow-btn img {
    width: 50px;
    height: 50px;
    min-width: 44px;
    min-height: 44px;
  }

  .text-section-content {
    width: 100%;
    height: auto;
  }

  .text-section-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    padding: 0 20px;
    gap: 15px;
  }

  .text-section-container div {
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 0.5px;
  }

  .text-section-container div.active {
    color: white;
    letter-spacing: 1px;
    margin-left: 0;
  }

  .img-content-container {
    width: 100%;
    height: auto;
    padding: 0 20px;
  }

  .content .content-box {
    flex-direction: column;
    gap: 25px;
    width: 100%;
  }

  .image-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .content-box .image-container img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 12px;
  }

  .content-para {
    width: 100%;
    padding: 0;
  }

  .content-para p {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.7;
    letter-spacing: 0.5px;
  }

  .arrow-btn img:active {
    width: 48px;
    height: 48px;
  }
}

@media screen and (max-height: 670px) {
  .content-box .image-container img {
    width: 220px;
  }

  .text-section-container div {
    font-size: 1.7rem;
  }

  .content-para p {
    font-size: 0.8rem;
  }
}

@media (max-width: 2000px) and (max-height: 650px) {
  .text-section-content {
    width: min(1178px, 90%);
    flex-wrap: nowrap;
  }

  .text-section-container div {
    font-size: 4.1rem;
    font-weight: 600;
  }

  .content-box .image-container img {
    width: 260px;
  }

  .content-para p {
    font-size: 1.25rem;
  }
}

@media (min-width: 580px) and (max-width: 938px) and (max-height: 1024px) {
  .arrow-btn {
    width: min(1000px, 85%);
    height: 8%;
  }

  .arrow-btn img {
    width: 50px;
    height: 50px;
  }

  .text-section-content {
    height: 70%;
  }

  .text-section-container {
    width: 100vw;
    height: 15%;
    flex-direction: row;
    margin-top: 30px;
  }

  .text-section-container div {
    font-size: 2.8rem;
  }

  .text-section-container div.active {
    color: white;
    letter-spacing: 1px;
    margin-left: 0px;
  }

  .img-content-container {
    height: 60%;
  }

  .content .content-box {
    width: 100%;
  }

  .content-box .image-container img {
    width: 265px;
  }

  .content-para p {
    font-size: 1.1rem;
  }
}
